.toy-preview {
    max-width: 200px;
    display: flex;
    flex-direction: column;

    & .el-card__header h1 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    & .el-card__header,
    & .el-card__body {
        padding: 15px;
    }

    & .el-card__body .price {
        margin-block: 5px;
        display: flex;
        justify-content: space-between;
    }

    & .el-card__body .price span.in-stock { color: green; }
    & .el-card__body .price span.out-of-stock { color: red; }

    & .el-card__body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    & .el-card__body .labels {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    & .toy-actions {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    & .toy-actions a {
        font-size: 1.1em;
    }
}