@import './cmps/alert.css';
@import './cmps/loader.css';
@import './cmps/pagination.css';
@import './cmps/dropdown-select.css';

@import './cmps/toy/toy-filter.css';
@import './cmps/toy/toy-list.css';
@import './cmps/toy/toy-preview.css';


body {
  margin: 0;
}

.main-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-view {
  margin-inline: 50px;
  flex-grow: 1;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color .3s;
}

a:hover {
  color: orange
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

header {
  background-color: #2f2e3d;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 25px;
}

footer {
  background-color: #5d7baf;
  color: whitesmoke;
  padding: 10px;
  text-align: center;
}

.clean-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* TOY-EDIT */

.toy-edit,
.toy-details {
  padding: 25px;
  padding-top: 0;
}
