html {
    font-family: Roboto;
}

body {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color .3s;
}
a:hover {
    color: orange
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}