.flex {
    display: flex;
}
.flex.inline-flex {
    display: inline-flex;
}
.flex.gap-10 {
    gap: 10px;
}
.flex.gap-15 {
    gap: 15px;
}
.flex.gap-20 {
    gap: 20px;
}
.space-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.align-self-center {
    align-self: center;
}

.w-100 {
    width: 100%;
}
.w-75 {
    width: 75%;
}
.w-50 {
    width: 50%;
}
.w-25 {
    width: 25%;
}

.clean-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.vertical-text {
    writing-mode: tb-rl;
    transform: rotate(-180deg);  
}

span.in-stock { color: green; }
span.out-of-stock { color: red; }